################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SVNMailer/v16
/SVNMailer/bin
/SVNMailer/obj
/SVNMailer/SVNMailer.v12.suo
